/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    background-color: #f5f6fa;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*   CSS   */

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


h1,
h2 {
    margin-bottom: 1rem;
}

.header_block {
    flex-grow: 0;
    flex-shrink: 0;
    height: fit-content;
    width: fit-content;
    background-color: white;
    display: block;
    padding: 3rem;
}

.header_block>p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    line-height: 1.7;
}

.header_profile_photo {
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

.logos {
    display: inline-block;
    width: auto;
    max-height: 1rem;
}

.links{
    color: black;
}

.header_subtitle_item {
    font-size: 14px;
}

.subtitle {
    font-size: 16px;
}

.profile_title {
    font-size: 18px;
}

.about_me_block {
    background-color: white;
    padding: 2rem;
    max-width: 50%;
}

.conditions_list>li {
    margin-left: 1rem;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #4e4e4e;
}

.conditions_list>li::before {
    content: none;
}

.condition_item {
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #826fff;
    padding: 0px 1rem;
    color: white;
    font-weight: bold;
}

.skill_item {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #836fff;
    padding: 0px 1rem;
    border-radius: 1rem;
    color: #836fff;
    margin-bottom: 1rem;
}